{% extends 'security/base_front.html.twig' %}

{% block title %}ToShopList- Accueil
{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/home.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="bg-primary" id="presentation">
        <div class="container">
            <div class="row text-white">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="reveal-1" id="presentation-titles">
                        <h2 class="title">Bienvenue sur le site de ToShopList !</h2>
                        <h1>Planifiez vos repas et obtenez la liste de courses correspondante.</h1>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="rounded shadow-lg reveal-2" id="subscription">
                        <h3>S'inscrire</h3>

                        {{ form_start(form) }}
                        {% form_theme form 'bootstrap_4_layout.html.twig' %}
                        {{ form_row(form.email, {'attr': {'placeholder': 'adresse@mail.com'}}) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.confirm_password) }}
                        <button class="btn btn-success btn-lg float-right font-weight-bold shadow" type="submit">Créer un compte</button>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="explainations">
        <div class="row mb-5">
            <div class="col-lg-4 d-lg-block d-md-flex align-items-md-center explaination-step text-center">
                <img alt="Je rassemble mes recettes" class="explainImage col reveal-2" src="{{ asset('images/explanation1.png') }}">
                <p class="col explantion-img mx-auto reveal-3">Je rassemble toutes mes recettes de cuisine au même endroit.</p>
            </div>
            <div class="col-lg-4 d-lg-block d-md-flex flex-md-row-reverse align-items-md-center explaination-step text-center">
                <img alt="J'écris mes pages recettes" class="explainImage col reveal-2" src="{{ asset('images/explanation2.png') }}">
                <p class="col explantion-img mx-auto reveal-3">J'écris mes pages recette avec les ingrédients et les instructions.</p>
            </div>
            <div class="col-lg-4 d-lg-block d-md-flex align-items-md-center explaination-step text-center">
                <img alt="Liste de courses et planning de repas" class="explainImage col reveal-2" src="{{ asset('images/explanation3.png') }}">
                <p class="col explantion-img mx-auto reveal-3">Je place mes recettes dans mon planning de repas et obtiens la liste des courses.</p>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{asset('js/registration.min.js')}}"></script>
        <script>
            registrationForm.constructor($("form[name='registration']"), "registration_email", "registration_password", "registration_confirm_password", '[class*= "reveal-"]', 'reveal-visible');
        </script>

    {% endblock %}
{% endblock %}
