{% extends 'base.html.twig' %}

{% block title %}ToShopList - Modifier mes données
{% endblock %}

{% block body %}
    <h2>Modifier mes identifiants</h2>
    {{ form_start(form) }}
    {{ form_row(form.email, {'attr': {'placeholder': '{{ app.user.username }}'} }) }}
    {{ form_row(form.password) }}
    {{ form_row(form.new_password) }}
    {{ form_row(form.confirm_new_password) }}

    <button class="btn btn-success" type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}


{% endblock %}
