<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            ToShopList - PDF Planning
        </title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker&display=swap" rel="stylesheet">
        <link href="{{ "css/bootstrap/compiled/bootstrap.min.css" }}" rel="stylesheet">

        <style>
            .title {
                font-family: 'Permanent Marker', cursive;
            }

            p {
                margin: 0;
            }
        </style>
    </head>
    <body class="bg-white pdf">

        <h1 class="text-center title">Planning du
            {{ planning.day[0].date| date('d/m/Y') }}
            au
            {{ planning.day[(planning.day | length) - 1].date| date('d/m/Y') }}</h1>
        <br>


        {% for day in planning.day %}
            <table class="table table-sm">
                <thead class="text-secondary">
                    <tr>
                        <th>
                            {{ day.date | localizeddate('none', 'none', 'fr', null, 'EEEE dd/MM')}}</th>
                    </tr>
                </thead>
                <tr>
                    {% for meal in day.plannedMeal %}
                        <td class="col">
                            {% if meal.description %}
                                <p>{{ meal.description }}</p>
                            {% else %}
                                <p>{{ meal.recipe.meal.type }}</p>
                            {% endif %}

                            <a href="{{ path('show-recipe', {'id' : meal.recipe.id}) }}" title="Voir la page recette" target="_blank" class="text-decoration-none text-success">
                                <p>{{ meal.recipe.name }}</p>
                            </a>
                            <p>({{ meal.portion }}
                                {% if meal.portion < 2 %}
                                    part)
                                {% else %}
                                    parts)
                                {% endif %}
                            </p>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    </body>
</html>
