{% extends 'base.html.twig' %}

{% block title %}ToShopList - Ma recette
{% endblock %}

{% block body %}
    <br>
    <div class="d-sm-flex justify-content-sm-between align-items-sm-center mb-3 p-3 bg-light rounded">
        <div>
            <h2 class="title">{{ recipe.name }}</h2>
            <p>{{ recipe.meal.type }}</p>
            <p>Pour
                {{ recipe.portionsNb }}
                {% if recipe.portionsNb  < 2 %}
                    part
                {% else %}
                    parts
                {% endif %}
            </p>
        </div>
        <div>
            {% if recipe.image %}
                <div><img alt='Image de "{{ recipe.name }}"' src="{{ asset('uploads/images/' ~ recipe.image) | imagine_filter('my_thumb')}}"></div>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <p>Ingrédients :
        </p>
        <ul class="customized-ul">
            {% for ingredient in recipe.recipeIngredients %}
                <li>
                    {{ ingredient.quantity }}
                    {% if ingredient.measure != "unité" %}
                        {{ ingredient.measure }}
                        {% if ingredient.ingredient.name|lower matches '/^[aeiouyœ].*$/'  %}
                            d'{{ ingredient.ingredient.name|lower }}
                        {% else %}
                            de
                            {{ ingredient.ingredient.name|lower }}
                        {% endif %}
                    {% else %}
                        {{ ingredient.ingredient.name|lower }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if recipe.instructions %}
            <p>Instructions :</p>
            <p>{{ recipe.instructions }}</p>
        {% endif %}
        {% if recipe.link %}
            <p>Référence :
                {{ recipe.link }}</p>
        {% endif %}

        <br><div class="text-right">
            <a class="btn btn-primary text-white shadow mb-2" href="{{ path('edit-recipe', {'id' : recipe.id}) }}" title="Modifier la recette">Modifier la recette</a>
            <a class="btn btn-primary text-white shadow mb-2" href="{{ path('delete-recipe', {'id' : recipe.id}) }}" title="Supprimer la recette">Supprimer la recette</a>
        </div>
    </div>
{% endblock %}
